<#
/// --------------------------------------
/// Add your assemblies here: 
/// --------------------------------------

Assemblies = new[]
{
	@"..\Zyan.Async.TestInterfaces\bin\Debug\Zyan.Async.TestInterfaces.dll",
};

#><#@ include file="Zyan.Async.ExtensionMethods.ttinclude" #>